h1 {
    color: red; 
    text-align: center; 
}
p {
    color: black; 
    background-color: yellow; 
    text-align: center; 
    font-family: "Times New Roman", Arial, sans-serif; 
    font-size: 13px; 
    font-weight: bold; 
    padding: 8px; 
    margin: 10px 0;
}
